@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

.header {
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header__information span{
    font-family: "EncodeSans-Bold";
}
