:root{
    --color-1: #7650e0;
    --color-2: #083275;
    --color-3: #3bb0eb;
    --color-4: #507bbd;
    --color-5: #ffffff;
    --color-6:#b9d5f5;
    --color-7:#136cd1;
    --space-layout-padding-lr: 0px 15px;
    --space-layout-padding-t: 5px; 
    --layout-imagen-width:100%;
    --layout-imagen-height:350px;
    --layout-imagen-width-detail:100%;
    --layout-imagen-height-detail:465px;
    --layout-imagen-width-checkout:70px;
    --layout-imagen-height-checkout:75px;

}
@font-face {
    font-family: "EncodeSans-Regular";
    src: url("../storage/font/encode-sans/EncodeSans-Regular.ttf");
}
@font-face {
    font-family: "EncodeSans-Medium";
    src: url("../storage/font/encode-sans/EncodeSans-Medium.ttf");
}
@font-face {
    font-family: "EncodeSans-SemiBold";
    src: url("../storage/font/encode-sans/EncodeSans-SemiBold.ttf");
}
@font-face {
    font-family: "EncodeSans-Bold";
    src: url("../storage/font/encode-sans/EncodeSans-Bold.ttf");
}