<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
    <script type="module" src="../js/checkout.js" defer></script>
</head>
<body>
    <div id="loader" class="loader"></div>
    <header class="header">
        <div class="imgsmod">
        <a href="../index.html">
            <img src="../storage/img/back.svg">
        </a>
    </div>
        <div class="header__information">
            <span>Checkout</span>
        </div>
        <div class="imgsmod">
            <img src="../storage/img/Menu.svg">
        </div>
        </header>
        <main class="main">
        <section id="productAdded" class="olip">
            <!-- <article class="product_detail">
                <section class="oli">
                    <div class="elem_compr">
                        <img src="${info.product_photo}">
                    </div>  
                    <div class="texto">
                        <h5>${info.product_title}</h5> 
                        <small>⭐${info.product_star_rating ? dataUpdate.product_star_rating : "No Ratings"}</small>
                        <h4>${info.product_price}</h4>
                    </div>
                </section>
                <section class="olip2">
                    <div class="oli2">
                        <div class="circles">
                            <img src="../storage/img/circles.svg">
                        </div>
                    </div>
                    <div class="oli3">
                        <div class="cuadro">
                            <img id ="decreaseButton2" src="../storage/img/minuswhite.svg">
                            <span id="number2">${info.quantity}</span>
                            <img id="increaseButton2" src="../storage/img/pluswhite.svg">
                        </div>
                    </div>
                </section>
                </article> -->
    </section>
<section class="section__Shopping">
    <!-- <article class="Shopping__title">
        <h3>Shopping Information</h3>
    </article>
    <article class="section__card">
        <div class="dropdown">
            <div class="dropdown__button">
                <div class="shopping__card">
                    <img src="../storage/img/visa.svg">
                    <label>**** **** **** 2143</label>
                </div>
                <div class="shopping__option">
                    <img src="../storage/img/arrow-down.svg">
                </div>
            </div>
            <div class="dropdown__content">
                <div class="shopping__card">
                    <img src="../storage/img/visa.svg">
                    <label>**** **** **** 2143</label>
                </div>
                <div class="shopping__card">
                    <img src="../storage/img/visa.svg">
                    <label>**** **** **** 2143</label>
                </div>
                <div class="shopping__card">
                    <img src="../storage/img/visa.svg">
                    <label>**** **** **** 2143</label>
                </div>
            </div>
          </div>
    </article> -->
    <article class="section__bill">
        <div class="bill__total">
            <label>Total (<span id="items">0</span> items)</label>
            <span id="totalPrice">$131.97</span>
        </div>
        <div class="bill__fee">
            <label>Shipping Fee</label>
            <span>$0.00</span>
        </div>
        <div class="bill__subtotal">
            <label>Sub Total</label>
            <span id="subtotal">$131.97</span>
        </div>
    </article>
</section>
</main>
        <footer class="footer">
            <ul class="footer__ul">
                <span>Pay</span>
            </ul>
        </footer>
</body>
</html>