<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header class="header">
        <div class="header__login">
            <img src="../storage/img/back.svg">
        </div>
        <div class="header__information">
            <span>Checkout</span>
        </div>
        <div class="header__login">
            <img src="../storage/img/Menu.svg">
        </div>
        </header>
        <section class="olip">
            <section class="oli">
                <div class="elem_compr">
                    <img src="../storage/img/img3.png">
                </div>  
                <div class="texto">
                <h5>Modern light clothes</h5> 
                <small>Dress modern</small>
                <h4>$212.99</h4>
                </div>
            </section>
            <section class="olip2">
                <div class="oli2">
                    <div class="circles">
                        <img src="../storage/img/circles.svg">
                    </div>
                    </div>
                <div class="oli3">
                    <div class="cuadro">
                        <img src="../storage/img/minuswhite.svg">
                        <span>4</span>
                        <img src="../storage/img/pluswhite.svg">
                        </div>
                    </div>
        </section>
    </section>
        <hr>
        <section class="olip">
            <section class="oli">
                <div class="elem_compr">
                    <img src="../storage/img/img1.png">
                </div>  
                <div class="texto">
                <h5>Modern light clothes</h5> 
                <small>Dress modern</small>
                <h4>$212.99</h4>
                </div>
            </section>
            <section class="olip2">
                <div class="oli2">
                    <div class="circles">
                        <img src="../storage/img/circles.svg">
                    </div>
                    </div>
                <div class="oli3">
                    <div class="cuadro">
                        <img src="../storage/img/minuswhite.svg">
                        <span>1</span>
                        <img src="../storage/img/pluswhite.svg">
                        </div>
                    </div>
        </section>
    </section>
        <hr>
        <section class="olip">
        <section class="oli">
            <div class="elem_compr">
                <img src="../storage/img/img2.png">
            </div>  
            <div class="texto">
            <h5>Modern light clothes</h5> 
            <small>Dress modern</small>
            <h4>$212.99</h4>
            </div>
        </section>
        <section class="olip2">
            <div class="oli2">
                <div class="circles">
                    <img src="../storage/img/circles.svg">
                </div>
                </div>
            <div class="oli3">
                <div class="cuadro">
                    <img src="../storage/img/minuswhite.svg">
                    <span>4</span>
                    <img src="../storage/img/pluswhite.svg">
                    </div>
                </div>
    </section>
</section>
<h4>Shipping Information</h4>
<section class="ship_info">
    <img class ="visa" src="../storage/img/visa.svg">
    <p>**** **** **** 2143</p>
    <img src="../storage/img/arrow-down.svg">
</section>

<section class="pago">
<span>Total (9 items)</span>
<p>$131.97</p>
</section>
<section class="pago">
    <span>Shippinh Fee</span>
    <p>$0.00</p>
    </section>
    <hr>
    <section class="pago">
        <span>Sub Total</span>
        <p>$131.97</p>
        </section>
</body>
</html>